html
{
    scroll-behavior: smooth !important;
}

body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header
{
    border-bottom: 1px solid darkblue;
    padding: 15px;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}

nav ul
{
    display: flex;
    gap: 2em;
}

nav ul li
{
    list-style: none;
}

nav ul li a
{
    text-decoration: none;
    font-size: clamp(.8rem, 1rem, 1.4rem);
    transition: all .2 ease;
    color: black;
}

nav ul li a:hover
{
    color: darkblue;

}

header h1
{
    font-size: 1.4rem;
}

.span-text
{
    color: darkblue;
}

.center-home
{   
    display: flex;
    justify-content: center;
    text-align: center;
    height: clamp(50vh, 60vh, 70vh);
}

.div-home
{
    margin-top: clamp(10vw, 12vw, 20vw);
}


.home-title
{
    font-size: clamp(.8rem, 1.6rem);
    margin-bottom: -1rem;
}

.home-subtitle
{
    font-size: clamp(1rem,2rem);
}

.link
{
    color: black;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
    padding: 10px 15px;
    background: white;
    border: 1px solid darkblue;
    border-radius: 8px;
    font-size: clamp(.8rem, 1rem, 1.4rem);
    transition: all .2s ease;
}

.link:hover
{
    background-color: darkblue;
    color: white;
}

.title-sections
{
    text-align: center;
    color: darkblue;
    font-size: clamp(1rem, 1.5rem, 2rem);
    margin-bottom: 2rem;
}

.skills-section , .projects-section
{
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-skills
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
}

.skill-card
{
    text-align: center;
}

.skill-card ion-icon
{
    font-size: clamp(4rem, 6rem, 8rem);
    transition: all .22s ease;
}

.skill-card:hover
{
    color: darkblue;
}

.projects-section
{
    margin-top: 6rem;
}

.container-projects
{
    padding: 20px;
    border: 1px solid darkblue;
    border-radius: 10px;
}

.project-buttons
{
    text-align: center;
}

.project-description h5
{
    text-align: center;
    font-size: clamp(.8rem, 1.3rem, 1.8rem);
}

.card-projects
{
    margin-bottom: 3rem;
}

.project-buttons
{
    gap: 10px;
    justify-content: center;
    display: flex;
}



